<!doctype html>


<html>
<head>
	<base href="/">
	<title>Mean</title>	

	<!--styles-->
	<link rel="stylesheet" type="text/css" href="public/css/app.css">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap/dist/css/bootstrap.min.css">
 		

</head>
<body ng-app="app" ng-controller="appController">


	<div id="main">

		
		
			<div ui-view="header"></div>
			<div ui-view="content" class="content"></div>





	</div>

	<!--scripts-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="public/js/vendor/oclazyload/dist/oclazyload.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular-cookies.min.js"></script>
	<script type="text/javascript" src="public/js/app/app.module.js"></script>
	<script type="text/javascript" src="public/js/app/app.controller.js"></script>
	<script type="text/javascript" src="public/js/app/app.factory.js"></script>
	<script type="text/javascript" src="public/js/app/app.config.js"></script>

</body>
</html>
