<!doctype html>


<html>
<head>
	<base href="/">
	<title>Mean</title>	

	<!--styles-->
	<link rel="stylesheet" type="text/css" href="public/css/app.css">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap/dist/css/bootstrap.min.css">
 		

</head>
<body  ng-controller="appController as ac">


	<div id="main">

			
		<div ui-view="header"></div>
		<div ui-view="content" class="content"></div>


	</div>

	<!--scripts-->

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script type="text/javascript" src="node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	<script type="text/javascript" src="public/js/app/rtc/adapter.js"></script>
	<script type="text/javascript" src="public/js/app/rtc/common.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="public/js/vendor/oclazyload/dist/oclazyload.js"></script>
	<script type="text/javascript" src="public/js/vendor/angular-cookies.min.js"></script>
	<script type="text/javascript" src="public/js/app/app.bootstrap.js"></script>
	<script type="text/javascript" src="public/js/app/app.module.js"></script>
	<script type="text/javascript" src="public/js/app/app.controller.js"></script>
	<script type="text/javascript" src="public/js/app/app.factory.js"></script>
	<script type="text/javascript" src="public/js/app/app.config.js"></script>

	<!--Shared-->
	<script type="text/javascript" src="public/js/app/modules/shared/navigation/navigation.module.js"></script>


</body>
</html>
