
<div class="banner landing">

	<!-- <div>
		Welcome to Meanstack chat-app
	</div> -->
	<div class="container">
		<div class="jumbotron text-center">
			 	<div class="landing-header">
			 		Welcome to Meanstack chat-app		
			 	</div> 
			 	<div class="landing-description">
			 		Free chat to everyone
			 	</div>
		</div>
	</div>

</div>

<div class="container room-list">

	<div class="text-center section-title text-uppercase">
		ROOMS
	</div>
	<div class="text-center section-description text-uppercase">
		
	</div>
	<div class="container">

		<div class="row room-thumbnails">

		  <div class="col-sm-6 col-md-3" ng-repeat="room in hc.rooms" ui-sref="room({id:room._id})" >
		    <div class="thumbnail">
		    	
		    	<div class="thumbnail-info">

		    	 	<div class="room-name">
		     			{{room.name}}
		     		</div>

		     		<div class="room-menu">sds</div>

		    	</div>		     	
		     
		    </div>

		  </div>		
	    </div>
	    <div class="rtc-sample">

	    	<div class="login">
	    		<h3>Login</h3>
	    		<p>
	    			<input type="text" placeholder="username" ng-model="ac.username">
	    			<button ng-click="ac.login()">Login</button>
	    		</p>
	    	</div>
	    	<div>
	    		<button ng-click="ac.call()">Start call</button>
	    	</div>
	    	<div class="row">
	    		<div class="col-lg-4">
	    			<h2>Local video</h2>
					<video id="localvideo" src autoplay></video>
	    		</div>
	    		<div class="col-lg-4">
	    			<h2>Remote video</h2>
					<video id="remotevideo" src autoplay></video>

	    		</div>
	    	</div>

			

	    </div>
		
	</div>
</div>

