
<div class="banner landing">

	<!-- <div>
		Welcome to Meanstack chat-app
	</div> -->
	<div class="container">
		<div class="jumbotron text-center">
			 	<div class="landing-header">
			 		Welcome to Meanstack chat-app		
			 	</div> 
			 	<div class="landing-description">
			 		Free chat to everyone
			 	</div>
		</div>
	</div>

</div>

<div class="container room-list">

	<div class="text-center section-title text-uppercase">
		ROOMS
	</div>
	<div class="text-center section-description text-uppercase">
		
	</div>
	<div class="container">

		<div class="row room-thumbnails">
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		    	
		    	 <div class="thumbnail-info">

		    	 	<div class="room-name">
		     			Sample
		     		</div>

		    	 </div>		     	
		     
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		    	
		    	 <div class="thumbnail-info">

		    	 	<div class="room-name">
		     			Sample
		     		</div>

		    	 </div>		     	
		     
		    </div>
		  </div>
		</div>

		<!-- <ul class="list-group">
			<li class="list-group-item"ng-repeat="room in hc.rooms" id="{{room._id}}" ui-sref="room({id:room._id})">
				{{room.name}}
			</li>
		</ul> -->
	</div>


</div>

